# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

##############################################################################################################
# Brand logo
NEXT_PUBLIC_BRAND_NAME="Sistema Inari"
NEXT_PUBLIC_BRAND_LOGO="https://i.ibb.co/v4cqhj4/Inari-logo.png"
# Supabase (api)
NEXT_PUBLIC_SUPABASE_URL="https://psfosvahtnebcalypgcp.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzZm9zdmFodG5lYmNhbHlwZ2NwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjA5MDU3NDIsImV4cCI6MjAzNjQ4MTc0Mn0.V8hx0euitYhp3uJXje0ixMgcw2ttiiy8nfbq16iiric"
# JWT
JWT_SECRET="secret_key"
# System name
NEXT_PUBLIC_SYSTEM_NAME="Sistema Inari"
# Api IMGBB
NEXT_PUBLIC_IMGBB_API_KEY="b415c6b89e422020e5fdc57c677cd84c"
# Carousel HomePage
NEXT_PUBLIC_CAROUSEL_ITEM_1_TEXT="¡Descubre nuestras ofertas exclusivas!"
NEXT_PUBLIC_CAROUSEL_ITEM_1_IMAGE="/images/tech_offer.jpg"
NEXT_PUBLIC_CAROUSEL_ITEM_1_ALT="Imagen de oferta"
NEXT_PUBLIC_CAROUSEL_ITEM_2_TEXT="Compra ahora los últimos gadgets con hasta 50% de descuento"
NEXT_PUBLIC_CAROUSEL_ITEM_2_IMAGE="/images/gadgets_discount.jpg"
NEXT_PUBLIC_CAROUSEL_ITEM_2_ALT="Imagen de gadgets en descuento"
NEXT_PUBLIC_CAROUSEL_ITEM_3_TEXT="Explora nuestra nueva colección"
NEXT_PUBLIC_CAROUSEL_ITEM_3_IMAGE="/images/fashion_collection.jpg"
NEXT_PUBLIC_CAROUSEL_ITEM_3_ALT="Imagen de colección"
# PDF
NEXT_PUBLIC_DOMAIN="https://sistema-inari.netlify.app/"
NEXT_PUBLIC_LOGO_FILE_NAME="logo.png"
# PWA
NEXT_PUBLIC_VAPID_PUBLIC_KEY="BBVVwBKwKJVk-O0Nu4URz82PQfKFXqksYNUliRLmGzYBR3IT-DJpgq8GAqis49mP9LQ7w4VblISdmd-F-Awu-2w"
VAPID_PRIVATE_KEY="isppebtIiZZk_dqjoxP19OS7HgWuQ-O331_Ny0cGgjU"
##############################################################################################################
