:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --body-bg: #000000;
  --bg-primary: #a9afb1;
  --bg-secondary: #f0e8e8e3;
  --bg-disabled: #8d9294;
  --border-disabled: #16161649;
  --button-success-bg: #f35134;
  --text-primary: #000000;
  --text-title-primary: #ffffff;
  --text-title-active: #ca2c10;
  --text-title-active-hover: #f35134;
  --text-show-link-active: #06c015;
  --text-edit-link-active: #b0be29;
  --button-delete-bg-hover: #c42323;
  --button-danger-bg: #e41515;
  --button-primary-bg-hover: #66c066;
  --button-confirm-primary: #f35134;
  --button-confirm-secondary: #fcfcfc;
  --button-confirm-text: #000000;
  --text-danger: #ef4444;
  --spinner-border: #f35134;
  --table-row-primary: #f0e8e8e3;
  --table-row-secondary: #f0e8e8e3;
  --bg-focus-primary: #f0e8e8e3;
  --bg-focus-secondary: #f35134;

  --border-primary: var(--bg-secondary);
  --border-secondary: var(--bg-primary);
  --border-primary-light: var(--text-primary);
  --border-secondary-light: var(--text-title-active);
  --text-title-active-static: var(--text-title-active);
  --text-show-link: var(--text-primary);
  --text-edit-link: var(--text-primary);
  --text-delete-link: var(--text-primary);
  --text-delete-link-active: var(--button-danger-bg);
  --button-delete-bg: var(--button-danger-bg);
  --button-primary-bg: var(--text-title-active);
  --scrollbar-track: var(--bg-primary);
  --scrollbar-thumb: var(--bg-primary);

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --body-bg: var(--bg-secondary);
  --bg-primary: #1a1a1a;
  --bg-secondary: #333333;
  --bg-disabled: #8d9294;
  --border-disabled: #16161649;
  --button-success-bg: #4caf50;
  --text-primary: #ffffff;
  --text-title-active: #f7813c;
  --text-title-active-hover: #f0600d;
  --text-show-link-active: #4caf50;
  --text-edit-link-active: #8bc34a;
  --button-delete-bg-hover: #f44336;
  --button-danger-bg: #d32f2f;
  --button-primary-bg-hover: #8d6e63;
  --text-danger: #f44336;
  --spinner-border: #ffb74d;
  --table-row-primary: #333333cc;
  --table-row-secondary: #1a1a1acc;
  

  --border-primary: var(--bg-secondary);
  --border-secondary: var(--button-primary-bg-hover);
  --border-primary-light: var(--text-primary);
  --border-secondary-light: var(--button-primary-bg-hover);
  --text-title-active-static: var(--text-title-active);
  --text-show-link: var(--text-primary);
  --text-edit-link: var(--text-primary);
  --text-delete-link: var(--text-primary);
  --text-delete-link-active: var(--button-danger-bg);
  --button-delete-bg: var(--button-danger-bg);
  --button-primary-bg: var(--text-title-active);
  --scrollbar-track: var(--bg-primary);
  --scrollbar-thumb: var(--bg-primary);

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*/