@import 'colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom */

.body-bg{
  background-color: var(--body-bg);
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.border-b-none{
  border-bottom: none;
}

.border-r-primary{
  border-right: 1px solid rgba(var(--foreground-rgb), 0.25);}

.border-b{
  border-bottom: solid 2px var(--text-primary);
}

.border-primary-b-none{
  border-right: 3px solid var(--bg-secondary);
  border-left: 3px solid var(--bg-secondary);
  border-top: 3px solid var(--bg-secondary);
}

.border-primary-t-none{
  border-right: 3px solid var(--bg-secondary);
  border-left: 3px solid var(--bg-secondary);
  border-bottom: 3px solid var(--bg-secondary);
}

.bg-primary-hover:hover {
  background-color: var(--bg-secondary);
}

.button-success-bg{
  background-color: var(--button-success-bg);
}

.secondary-bg-button, .primary-button-success {
  background-color: var(--button-success-bg);
}

.secondary-bg-button:hover, .primary-button-success:hover {
  background-color: var(--button-success-bg);
}

.button-disabled{
  border: solid 1px var(--border-disabled);
  background-color: var(--bg-disabled);
  font-weight: 700;
  color: var(--border-disabled)
}

.border-primary {
  border: solid 3px var(--border-primary);
}
.border-primary-light-main {
  border: solid 1px var(--border-primary);
}

.border-secondary {
  border: solid 3px var(--border-secondary);
}
.border-primary-light {
  border: solid 1px var(--border-primary-light);
}
.border-secondary-light{
  border: solid 1px var(--border-secondary-light);
}

.border-card-detail{
  border: 1px solid rgba(var(--foreground-rgb), 0.25);
}

.text-primary,.text-title {
  color: var(--text-primary);
}
.text-title-primary{
  color: var(--text-title-primary);
}

.text-title-active-static,
.text-title-active,
.text-title:hover,
.text-title:focus,
.text-title:active {
  color: var(--text-title-active-static);
}
.text-title-active:hover {
  color: var(--text-title-active-hover);
}

.text-title-active-hover{
  color: var(--text-title-active-hover);
}

.text-show-link,
.text-edit-link,
.text-delete-link  {
  color: var(--text-show-link);
}

.text-show-link-active,
.text-show-link:hover {
  color: var(--text-show-link-active);
}

.text-edit-link-active,
.text-edit-link:hover {
  color: var(--text-edit-link-active);
}

.text-delete-link-active,
.text-delete-link:hover {
  color: var(--text-delete-link-active);
}

.button-delete-bg {
  background-color: var(--button-delete-bg);
  color: var(--text-show-link);
}

.button-delete-bg:hover {
  background-color: var(--button-delete-bg-hover);
  color: var(--text-show-link);
}

.button-danger-bg {
  background-color: var(--button-danger-bg);
  color: var(--text-show-link);
}

.button-primary-bg {
  background-color: var(--button-primary-bg);
  color: var(--text-show-link);
}

.button-primary-bg:hover {
  background-color: var(--button-primary-bg-hover);
  color: var(--text-show-link);
}

.text-danger {
  color: var(--text-danger);
}

.spinner-border {
  border-color: var(--spinner-border);
}

.footer-border {
  border: solid 1px var(--text-title-active);
}

.footer-bg-primary-main{
  background-image: linear-gradient(to left, var(--bg-primary), var(--bg-secondary), var(--bg-primary));
  border-bottom: 1px solid  rgba(var(--foreground-rgb), 0.15);
}

.nav-bg-primary{
  background-image: linear-gradient(to right, var(--bg-primary), var(--bg-secondary), var(--bg-primary));
}
.nav-bg-primary-main{
  background-image: linear-gradient(to left, var(--bg-primary), var(--bg-secondary), var(--bg-primary));
  border-bottom: 1px solid  rgba(var(--foreground-rgb), 0.15);
}
.nav-bg-primary-light{
  background-image: linear-gradient(to top, var(--bg-primary), var(--bg-secondary), var(--bg-primary));
}

.box-theme {
  box-shadow: 0 4px 14px rgba(var(--foreground-rgb), 0.15);
  border-radius: 1rem;
  padding: 1.5rem;
  background-image: linear-gradient(to right, var(--bg-primary), var(--bg-secondary), var(--bg-primary));
  margin-top: 1rem;
  position: relative;
  width: 100%;
  max-width: 100%;
  color: var(--text-primary);
  border: 1px solid rgba(var(--foreground-rgb), 0.25);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card-theme {
  box-shadow: 0 4px 14px rgba(var(--foreground-rgb), 0.15);
  padding: 1.5rem;
  background-image: linear-gradient(to right, var(--bg-primary), var(--bg-secondary), var(--bg-primary));
  margin-top: 1rem;
  position: relative;
  width: 100%;
  max-width: 100%;
  color: var(--text-primary);
  border: 1px solid rgba(var(--foreground-rgb), 0.25);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.li-theme{
  box-shadow: 0 4px 14px rgba(var(--foreground-rgb), 0.15);
  background-image: linear-gradient(to right, var(--bg-primary), var(--bg-secondary), var(--bg-primary));
  margin-top: 1rem;
  position: relative;
  width: 100%;
  max-width: 100%;
  color: var(--text-primary);
  border: 1px solid rgba(var(--foreground-rgb), 0.25);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.box-theme-login {
  box-shadow: 0 4px 14px rgba(var(--foreground-rgb), 0.15);
  border-radius: 1rem;
  padding: 1.5rem;
  background-image: linear-gradient(to right, var(--bg-primary), var(--bg-secondary), var(--bg-primary));
  margin-top: 1rem;
  position: relative;
  width: 90%;
  max-width: 100%;
  color: var(--text-primary);
  border: 1px solid rgba(var(--foreground-rgb), 0.25);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.rounded-gradient-box {
  position: absolute; 
  top: 0; 
  right: 0; 
  background-image: linear-gradient(to right, var(--bg-primary), var(--bg-secondary), var(--bg-primary));
  color: var(--text-title-active);
  border: solid 1px var(--border-secondary-light);
  padding-left: 0.75rem; 
  padding-right: 0.75rem; 
  padding-top: 0.25rem;
  padding-bottom: 0.25rem; 
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem; 
}

.gradient-button{
  background-image: linear-gradient(to right, var(--bg-primary), var(--bg-secondary), var(--bg-primary));
}

.gradient-button-success{
  background-image: linear-gradient(to right, var(--bg-focus-primary), var(--bg-focus-secondary), var(--bg-focus-primary));
}

.gradient-button-confirm{
  background-image: linear-gradient(to right, var(--button-confirm-primary), var(--button-confirm-secondary), var(--button-confirm-primary));
  border: solid 1px var(--border-primary-light);
  color: var(--button-confirm-text);
}

/* Scrollbar styles */

html {
  scrollbar-width: thin; 
  scrollbar-color: var(--text-show-link) var(--body-bg);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 6px;
  border: 7px solid var(--scrollbar-thumb);
}

/* Tables */

.table-row-primary{
  background-color: var(--table-row-primary);
  color: var(--text-primary);
  text-align: center;
}

.table-row-secondary{
  background-color: var(--table-row-secondary);
  color: var(--text-primary);
  text-align: center;
}

.table-box {
  margin-top: 1rem; 
  width: 100%; 
  max-width: 100%;
  margin-left: auto; 
  margin-right: auto;
  background-image: linear-gradient(to right, var(--bg-primary), var(--bg-secondary), var(--bg-primary));
  border: 1px solid rgba(var(--foreground-rgb), 0.25);
  backdrop-filter: blur(10px);
  position: relative; 
  text-align: center; 
  color: var(--text-primary); 
}

@media (min-width: 1024px) { 
  .box-theme-login {
    width: 30%;
  }
}
